force-app/main/default/flows/X19_Flow_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Customer_Priority</name>
        <label>Check Customer Priority</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Post_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low</defaultConnectorLabel>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerPriority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CustomerPriority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>19 Flow Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>19 Flow Orchestration</label>
    <orchestratedStages>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Invoke_Contact_Screen</name>
            <actionName>X02_Create_Contact</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ozhan@batch13.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Invoke Contact Screen</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Invoke_Opportunity_Screen</name>
            <actionName>X03_Create_Opportunity</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>ozhan@batch13.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Invoke Opportunity Screen</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Create_Task_Post_Chatter</name>
        <label>Create Task &amp; Post Chatter</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Invoke_Auto_Launch_Flow</name>
            <actionName>X17_Account_Auto_Launch_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountName</name>
                <value>
                    <elementReference>$Record.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountOwnerId</name>
                <value>
                    <elementReference>$Record.OwnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>CreatedByName</name>
                <value>
                    <elementReference>$Record.CreatedBy.LastName</elementReference>
                </value>
            </inputParameters>
            <label>Invoke Auto Launch Flow</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Customer_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerPriority__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
